@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

// Fuentes
$fuente_principal: "Merriweather", serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 850px;
$desktop: 1024px;

// Colores
$negro: #000000;
$rojo: #BC0000;
$azul: #0f47ad;
$blanco: #FFFFFF;
$grisOscuro: #333333;
$rosa: #f294ad;
$rosa-centro: #fbf2f3;
$rosa-tabla: #ffe6ea;
$naranja: #fa7e10;
$verde: #0CA789;

$whats: #00a884;

$separacion: 5rem;